allow bluetooth bluetooth_control:chr_file { rw_file_perms };
allow bluetooth config_file:dir { search read };
allow bluetooth config_file:file {read write open };
allow bluetooth sysfs:file {write};
allow bluetooth tty_device:chr_file {read ioctl write};
allow bluetooth tty_device:chr_file {open};
