allow kernel radio_device:file relabelto;
allow kernel radio_device:dir relabelto;
allow kernel sysfs_uart_power_ctrl:file relabelto;

allow radio_device sysfs:filesystem associate;
