type nvm_server, domain;
type nvm_server_exec, exec_type, file_type;

allow init  nvm_server_exec:file {execute_no_trans};
#allow nvm_server system_file:file entrypoint;

init_daemon_domain(nvm_server)
allow nvm_server socket_device:sock_file write;
allow nvm_server config_file:dir {search write};
allow nvm_server config_file:file {read getattr write open};
allow nvm_server mmgr_socket:sock_file write;
allow nvm_server mmgr:unix_stream_socket connectto;
allow nvm_server tty_device:chr_file {read open write ioctl};
