allow rild radio_device:dir search;
allow rild radio_device:file { lock read open write };
allow rild mmgr_socket:sock_file write;
allow rild mmgr:unix_stream_socket connectto;
