type bcu_cpufreqrel_service,	service_manager_type;
type akmd_service, 	service_manager_type;
type mmgr_service, 		service_manager_type;
type customize_servi, 	service_manager_type;
type nvmmanager_service, 	service_manager_type;
